body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** ================ HEADER ================= */

span {
    color: #4D5AE5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-logo {
        color:  #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.03em;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.header-menu-link:hover {
    color: #404BBF;
}

.header-contacts-link, .header-contacts-link:focus {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        font-style: normal;
}

.header-contacts-link:hover, .header-menu-link:focus {
    color: #404BBF;
}

/** ========================================= */


/** ============== HERO ============ */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: -0.02em;
   
}

.hero-order-btn {
    font-family: inherit;
    color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.04px;
        background-color: #4D5AE5;
}

/** ========================================= */


/** ============= BENEFITS ============ */

.benefits-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.002em;
}

.benefits-item-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
}

/** ========================================= */


/** ================== TEAM ================ */
.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 1.1;
        text-transform: capitalize;
}

.team-subtitle {
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02px;
}

.team-text {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02px;
}
/** ========================================= */


/** ================ PORTFOLIO ============== */
.portfolio {}

.portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02px;
}

.portfolio-text {
    color:  #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/** ========================================= */


/** ================= FOOTER ================ */
.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #F4F4FD;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/** ========================================= */